@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&display=swap');


.navbar{
    background-color: black;
    color: white;
    text-align: center;
    
    /* padding: 10px; */

}

.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 1rem;
    padding: 1rem;
    display: inline-block;

}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    /* margin: 10px 20px; */
    font-family: 'Amatic SC', cursive;

}
.navbar ul li:hover{
background-color: lightblue;
transition: 300ms;
    
}
